.button {
  width: 30%;
  padding: 1rem;

  position: relative;
  z-index: 1;

  font-weight: 600;

  &:hover::before {
    content: "";
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: 100%;
    z-index: -1;
    
    animation: split .3s ease forwards;

    @keyframes split {
      to {
          right: -1px;
      }
    }
  }
}