
.mainContainer {
  overflow-x: hidden;
  min-height: 100vh;
  padding: 5rem;
  display: flex;
  align-items: center;

  h1 {
    color: var(--white);
  }
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.presentationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .earth {
    width: 18rem;
    animation: rotate 60s linear infinite;

    @keyframes rotate {
      to {
        transform: rotate(360deg);
      }
    }
  }

  .logo {
    width: 30rem;
    height: 18rem;
    object-fit: cover;
    z-index: 1;
    margin-left: 2rem;
  }

  .star1 {
    transform: translate(5rem, 5rem);
  }

  .asteroid1,
  .asteroid2,
  .asteroid3,
  .asteroid4,
  .asteroid5 {
    width: 5rem;
    position: absolute;
  }

  .asteroid1 {
    transform: translate(11rem, -25rem) rotate(110deg);
    animation: destroyer 20s linear infinite;

    @keyframes destroyer {
      49% {
        opacity: 1;
      }
      50% {
        opacity: 0;
        transform: translate(-56rem, 35rem) rotate(110deg);
      }
      51% {
        transform: translate(11rem, -25rem) rotate(110deg);
      }
    }
  }
  .asteroid2 {
    z-index: -1;

    transform: translate(-50rem, -25rem) rotate(10deg);
    animation: destroyer2 20s 5s linear infinite;

    @keyframes destroyer2 {
      49% {
        opacity: 1;
      }
      50% {
        opacity: 0;
        transform: translate(50rem, 25rem) rotate(10deg);
      }
      51% {
        transform: translate(-50rem, -25rem) rotate(10deg);
      }
    }
  }
  .asteroid3 {
    transform: translate(-5rem, 25rem) rotate(210deg);
    animation: destroyer3 20s 10s linear infinite;

    @keyframes destroyer3 {
      49% {
        opacity: 1;
      }
      50% {
        opacity: 0;
        transform: translate(-55rem, -45rem) rotate(210deg);
      }
      51% {
        transform: translate(-5rem, 25rem) rotate(210deg);
      }
    }
  }
  .asteroid4 {
    transform: translate(100rem, 0) rotate(150deg);
    animation: destroyer4 15s 15s linear infinite;

    @keyframes destroyer4 {
      49% {
        opacity: 1;
      }
      50% {
        opacity: 0;
        transform: translate(-100rem, 0) rotate(150deg);
      }
      51% {
        transform: translate(100rem, 0) rotate(150deg);
      }
    }
  }
  .asteroid5 {
    z-index: -1;

    transform: translate(30rem, -30rem) rotate(120deg);
    animation: destroyer5 15s 20s linear infinite;

    @keyframes destroyer5 {
      49% {
        opacity: 1;
      }
      50% {
        opacity: 0;
        transform: translate(-120rem, 80rem) rotate(120deg);
      }
      51% {
        transform: translate(30rem, -30rem) rotate(120deg);
      }
    }
  }
}

.filterContainer {
  min-width: 47rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 4rem;

  box-shadow: -5px 5px 20px 1px var(--dark-black);
  background: var(--dark-gray);

  z-index: 1;

  h3 {
    color: var(--orange);
    font-size: 1.4rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .5px;
    
    align-self: flex-start;

    cursor: alias;
  }

  h6 {
    font-weight: 300;
    color: var(--gray);
    
    align-self: flex-start;
    transform: translateY(-1rem);
  }

  input {
    width: inherit;
    background: transparent;
    border: none;
    color: white;
  }
}

.searchName {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem 1rem;
  margin-bottom: 3.2rem;

  border-bottom: 1px solid var(--red);

  font-size: 1.2rem;

  svg {
    color: var(--orange);
    height: 2rem;
    width: 2rem;
  }
}

.datePicker {
  display: flex;
  align-items: center;
  gap: 0 2rem;
  width: 100%;
  padding: 1.8rem 0;

  label {
    width: 100%;
    p {
      font-weight: 400;
      text-transform: capitalize;
      font-size: 1.2rem;
      color: var(--gray);
    }

    input {
      width: 100%;
      padding: 1rem 0;
      font-size: 1rem;
      color: var(--white);
      border-bottom: 1px solid var(--red);

      &::-webkit-calendar-picker-indicator {
        filter: invert(1);
        width: 1.6rem;
        height: 1.6rem;
      }
    }
  }

  h6 {
    color: var(--gray);
    font-weight: 300;
    font-size: 2px;
  }
}

.buttons {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem 0 0;
  gap: 2rem;

  button:first-child {
    color: var(--orange);
    background: transparent;
    border: 1px solid var(--orange);
  
    &:hover {
      color: var(--dark-black);
    }
  
    &:hover::before {
      background: var(--orange);
    }
  }
  
  button:last-child {
    color: var(--red);
    background: transparent;
    border: 1px solid var(--red);
  
    &:hover {
      color: var(--dark-black);
    }
  
    &:hover::before {
      background: var(--red);
    }
  }
}

.tableContainer {
  position: relative;
  max-width: 100%;
  margin-bottom: 2rem;

  table {
    margin-top: 2rem;
    border-collapse: collapse;
    width: 100%;
    transition: all .5s ease;

    thead {
      background: var(--black);
      width: calc( 100% - 1rem );
      border-radius: 1.4rem 1.4rem 0 0;

      th {
        text-align: center;
        text-transform: uppercase;
        color: var(--orange);
        vertical-align: middle; 
        padding: 1.8rem 1rem;
        letter-spacing: .5px;
      }

      tr:last-child {
        background: var(--dark-black);
  
        th {
          padding: 1rem 0 0;
          font-size: 1.4rem;
        }
      }

      tr:last-child span{
        text-transform: capitalize;
        font-size: 1.2rem;
        color: var(--gray);

        strong {
          color: var(--red);
          font-size: 1.6rem;
          margin-left: .2rem;
        }
      }
    }
  
    tbody {
      display: block;
      max-height: 60vh;
      min-height: 10vh;
      overflow-y: scroll;
      background: var(--dark-black);
      padding: 0 1rem;
      border-radius: 0 0 1.4rem 1.4rem;

      tr {
        background: var(--dark-gray);
        margin: 1rem 0;
        border-radius: 1rem;

        &:hover {
          background: black;

          img {
            opacity: 1;
          }
        }

        img {
          opacity: .9;
        }
      }

      td {
        text-align: center;
        text-transform: capitalize;
        font-size: 1.4rem;
        color: var(--gray);
        padding: 1.4rem 1rem;
        padding-right: 0 !important;
  
        img {
          height: 1.8rem;
          width: 1.8rem;
          transform: translateY(2px);
        }

        strong {
          color: var(--red);
        }
      }

      &::-webkit-scrollbar {
        background: transparent;
        width: 6px;
        height: 6px;
      }

      &::-webkit-scrollbar-track {
        margin: 4px 10px 14px;
      }

      &::-webkit-scrollbar-thumb {
        background: black;
        border-radius: 1rem;
      }

      &::-webkit-scrollbar-corner {
        background: transparent;
      }
    }

    thead, tbody tr {
      display: table;
      width: 100%;
      table-layout: fixed;
    }

    tbody td:last-child,
    thead th:last-child {
      width: 50px;
      padding-right: 2rem !important;
      padding-left: 0;
    }
  }

  svg {
    color: white;
    font-size: 5rem;
    position: absolute;
    bottom: 1.5rem;
    right: 50%;
    transform: translateX(50%);
    opacity: 0;
    animation: 
      scroll .6s 2s 3 linear forwards,
      hidden 4s 1s 1 linear forwards;

    @keyframes scroll {
      10% {
        bottom: 1.5rem;
      }
      50% {
        bottom: .3rem;
      }
      100% {
        bottom: 1.5rem;
      }
    }

    @keyframes hidden {
      10% {
        opacity: 1;
      }
      90% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }
}
