* {
  margin: 0;
  padding: 0;
  outline: 0 none;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  overflow: hidden;
}

:root {
  // COLORS
  --white: #ffffff;
  --gray: #808080;
  --dark-gray: #1b1b1b;
  --light-black: rgb(42, 42, 42);
  --black: #393939;
  --dark-black: #222222;
  --background: #333333;
  --orange: #ff8659;
  --red: #ff4a4a;
  --light-yellow: #ffe278;
  --dark-wellow: #ffb454;
}

body > * {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'kern' 1;
  font-kerning: normal;
}

body {
  background-color: var(--background);
}

body,
input,
button {
  font: 16px Montserrat, sans-serif;
  color: var(--black-secondary);
}

button {
  cursor: pointer;
}