*, * > body {
  margin: 0;
  padding: 0;
  outline: 0 none;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    background: transparent;
    width: 4px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    margin: 4px 0;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--orange);
    border-radius: 1rem;
  }
  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}

:root {
  // COLORS
  --white: #ffffff;
  --gray: #808080;
  --dark-gray: #1b1b1b;
  --light-black: rgb(42, 42, 42);
  --black: #393939;
  --dark-black: #222222;
  --background: #333333;
  --orange: #ff8659;
  --red: #ff4a4a;
}

body > * {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'kern' 1;
  font-kerning: normal;
}

body {
  background-color: var(--background);
}

body,
input,
button {
  font: 10px Montserrat, sans-serif;
}

button {
  cursor: pointer;
}